<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
   
   <head>
      <title>Admin Info</title>
   </head>
   
   <body>
      
      <th:block th:include="/_menu"></th:block>
      
      <h2>Admin Informations Page</h2>
      
      <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
      
      <b>This is protected page!</b>  
      
      <br/><br/>
      
      <!-- Table: List admin -->
      
      <!-- Button: Create account new -->
      <a th:href="@{/createUserAccount}">Create New Account</a>
      
      <br/><br/>
      
      <!-- Web utils: information of this User logined -->
      <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
      
   </body>
   
</html>